@page "/material/create"
<h1 class="title">Materials <small>Create</small></h1>

<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input class="input" />
    </div>
</div>

<div class="field">
    <label class="label">Description</label>
    <div class="control">
        <textarea rows="5" class="textarea"></textarea>
    </div>
</div>

<div class="buttons">
    <button class="button is-link is-fullwidth" type="submit">Create</button>
    <a href="/" class="button is-link is-light is-fullwidth">Cancel</a>
</div>
